DATABASE_URL="mongodb://localhost:27017/ai-tool-cost-optimizer"
REDIS_URL="redis://localhost:6379"
GROQ_API_KEY="gsk_example123456789abcdef"
RESEND_API_KEY="re_example123456789abcdef"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"